<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h4><small>Meetings</small></h4>
      <% if @meetings.empty? %>
        <p>There are no meetings for you yet. Until next week!</p>
      <% end %>
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @meetings.each do |meeting| %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
