<p>Hey
  <%= @user.first_name %>!</p>
<p>
  Great news! <strong>You have been approved!</strong>
  <br>
  In the coming weeks, you will be matched with individuals ready to meet you.
  If you have any questions, let us know!
</p>
<p>
  Happy meetings!
</p>
