<div class="container">
  <div class="col-md-6">
    <h1>Welcome!</h1>

    <p>
      We are excited to have you as part of the community. If you have any questions, feel free to reach out anytime.
    </p>

    <p>
      <strong>Getting started</strong>
    </p>
    <p>Here is how <%= site_brand_name %> works:</p>
    <ol>
      <li>We send you an email to confirm you are available that week</li>
      <li>We match you with someone to grab coffee with</li>
      <li>Finally, send you an intro email and let you two connect! Find a place to grab coffee.</li>
    </ol>
    <p>
      Before we get started, we got to get you ready. We need to setup your profile. Soon after, we will invite you to start meeting
      with people. We are keeping the community small and vetting each and every person to make sure we have very excited
      and eager people meeting each other. Again, feel free to reach out any time with any questions!
    </p>
    <%= button_to "Setup profile", { action: :new} , class: 'btn btn-primary btn-lg' %>
  </div>
</div>
